/* The same stylesheet is used in both the index.html and highscores.html */
/* overriding colour themes of both HTML files */
:root{
    --btnBackground: #4c55bc;
    --btnBackgroundHover: #8a90db;
    --btnTextColor: #fff;
    --mainBackground: #fff;
    --mainTextColor: #000000;
    --secondaryBackground: #4f545c;
}

/* Body styling both html files*/
body {
    position: relative;
    margin: 0.5rem;
    min-height: 98vh;
    background: var(--mainBackground);
    color: var(--mainTextColor);
    font-family: Arial, Helvetica, sans-serif;
}

/* header styling both html files */
header {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

/* button styling for every button in the application */
button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background: var(--btnBackground);
    color: var(--btnTextColor);
    font-size: medium;
    border: 0;
    border-radius: 7px;
    margin: 2px;
}

/* specific padding for highscores header link and countdown timer */
header .highscores,
.timer 
{
    padding: 5px;
}

/* Main element styling */
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 10%;
}

/* All h1's in the main element which is all the quiz questions */
main h1 {
    font-size: 200%;
    text-align: center;
}

/* Styling for the specific start-page container */
main #starting-page {
    justify-content: flex-start;
    text-align: center;
}

/* Specific styling for the highscores page header title */
.scores-page 
.title
{
    display: flex;
    align-content: space-between;
    justify-content: center;
    width: 100%;
    height: 50%;
}

/* Specific styling for the main body for highscores */
main .highscores {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
}

/* Styling for table elements */
td {
    padding: 10px;
    margin: 0;
    color: var(--btnTextColor);
    background: var(--btnBackgroundHover);
}
  